#listaUltimasNoticias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 20px; 
    border-radius: 5px;   

    li{
        width: 28%;
        margin: 10px;
        padding: 10px;
       
        @include max-screen( $screen-ss ) {
            text-align: center;
            width: 100%;
        }


    }

}



#ultimasNoticias h2 {
    font-size: 24px;
  
}