@charset 'UTF-8';
*{
    margin: -1px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 3em;
    padding: 50px;
    text-align: center;
    color: white;
    text-shadow: 1px 10px 10px rgba(0, 0, 0, 0.526);
    text-transform: uppercase;
}
div{
    margin: -2px;
}
.princ{
    width: 100vw;
    height: 100vh;
    background-image: url('imagens/espaco.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.astro{
    padding-top: 50px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-image: url('imagens/astronauta.png');
    background-repeat: no-repeat;
}