.showcase-search {
    &__container-flex-product-search{
        display: flex;
        flex-wrap: wrap;
      
    
        &__item-search{
            width: 32%;
            padding: 2px;
           
            @include max-screen( $screen-md ) {
                width: 49%;
            }
            @include max-screen( $screen-xs ) {
                width: 100%;
            }
        }
    }
   

}
