.Login {
    @include max-screen( $screen-md ) {
        width: 100%;
    }
}

.Cadastro {
    @include max-screen( $screen-md ) {
        width: 100%;
    }
}



.botao-efetuar-login,.botao-commerce , .botao-recuperar-senha {
    background-image: none;
    border: none;
}