.cart{
    
    &__itens{
        svg{
            width: 27px;
            height: 24px;
        }
    }
    &__itens-amount{
    position: absolute;
    top: 0px;
    min-width: 30px;
    font-weight: 600;
    color: #fff;
    border-radius: 1.75em;
    z-index: 1;
    @include max-screen( $screen-sm ) {
        top: inherit;
        }
    }
}
  
   


