<div class="showcase-search {{ setCarousel ? 'swiper-container' }}">
        {% if products|length > 0 %}
            <ul class="showcase-search__container-flex-product-search">
                {% for product in products %}
                
                    <li class="showcase-search__container-flex-product-search__item-search">
                            {% element 'snippets/pageproduct' {"product": product} %}
                        </li>
                          
                       
                {% endfor %}
            </ul>

        {% endif %}
</div>

