 {% if pages.current == 'home' %}    
<section class="banner {{ banner_class }}">
        <div class="banner__center swiper-container"
        {{ settings.bannerPagination ? 'data-type-pagination="' ~ settings.bannerPagination ~ '"' }}
        {{ settings.bannerInfinity ? 'data-infinite="true"' }}
        {{ settings.bannerEfect ? 'data-effect="' ~ settings.bannerEfect  ~ '"' }}
        {{ settings.bannerAutoPlay ? 'data-autoplay="true"' }}
        {{ settings.bannerIntervalo ? 'data-interval="' ~ settings.bannerIntervalo ~ '"' : 'data-interval="5000"' }}>

            <div class="banner__list banner__list--responsive swiper-wrapper">
                {% for key, slide in banners.home.slides  %}
                 
                    <a class="banner__link banner__link--{{ banner_local }} swiper-slide" href="{{ slide.link }}" target="{{ slide.target }}">
                        {% if key == 0 %}
                    
                            <picture>
                                <source media="(max-width: 799px)" srcset="{{ banners.extra10.src }}">
                                <source media="(min-width: 800px)" srcset="{{ slide.image }}">
                                <img class="banner__image banner__image--{{ banner_local }} swiper-lazy" src="{{ slide.image }}" alt="{{ slide.label }}">
                              </picture>

                           
                        {% endif %}
                        {% if key == 1 %}
                            <picture>
                                    <source media="(max-width: 799px)" srcset="{{ banners.extra11.src }}">
                                    <source media="(min-width: 800px)" srcset="{{ slide.image }}">
                                    <img class="banner__image banner__image--{{ banner_local }} swiper-lazy" src="{{ slide.image }}" alt="{{ slide.label }}">
                                  </picture>
                            {% endif %}
                        {% if key == 2 %}
                            <picture>
                                <source media="(max-width: 799px)" srcset="{{ banners.extra12.src }}">
                                <source media="(min-width: 800px)" srcset="{{ slide.image }}">
                                <img class="banner__image banner__image--{{ banner_local }} swiper-lazy" src="{{ slide.image }}" alt="{{ slide.label }}">
                              </picture>
                        {% endif %}
                        <div class="swiper-lazy-preloader"></div>
                    </a>
                {% endfor %}
            </div>
          	
           

            {% if settings.bannerArrow == 'on' %}
                <div class="banner__button banner__button--prev swiper-button-prev">
                        <svg id="arrowLeftSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44" width="30" height="30"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></path></svg>
                </div>
                <div class="banner__button banner__button--next swiper-button-next">
                        <svg id="arrowRightSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44" width="30" height="30"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></path></svg>                    
                </div>
            {% endif %}
        </div>
   
</section>
{% endif %}
 


