<div class="showcase__label">
    <h3 class="showcase__title"> {{ settings.inputTitleBannerCategoriesImgs}} </h3>
</div>

{% if settings.bannerCategoriesImgs01 == 'true' %}
<div class="categoriesflexbanners">

{% for level1 in categories %}
    <div class="categoriesflexbanners--itens">
    <a href="{{ level1.link }}"  >
        <img src="{{ level1.images[0] }}" alt="{{ level1.name }}">
    </a>
    </div>
{% endfor %}

</div>
{% endif %}




{% if settings.bannerCategoriesImgs02 == 'true' %}
<div class="categoriesflexbanners">
{% for level in categories %}
    {% if level.children  %}

        {% for level2 in level.children %}
            {% if loop.index <= 7 %}
            <div class="categoriesflexbanners--itens">

            <a href="{{ level2.link }}"  >
                <img  src="{{ level2.images[0] }}" alt="{{ level2.name }}">
            </a>
        </div>

            {% endif %}
        {% endfor %}

    {% endif %}
{% endfor %}
</div>

{% endif %}




{% if settings.bannerCategoriesImgs03 == 'true' %}
<div class="categoriesflexbanners">

{% for level in categories %}
    {% if level.children  %}
        {% for level2 in level.children %}
            {% if level2.children  %}
                {% for level3 in level2.children %}
                <div class="categoriesflexbanners--itens">

                    <a href="{{ level3.link }}"  >
                        <img  src="{{ level3.images[0] }}" alt="{{ level3.name }}">
                    </a>
                </div>

                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
</div>


 
{% endif %}