<div class="menu-mobile-flex" id="menu-mobile-div">
    <div id="close-mb"  class="close-menu-mobile"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.965 27.965"
            style="enable-background:new 0 0 27.965 27.965;" xml:space="preserve">
            <g>
                <g id="c142_x">
                    <path
                        d="M13.98,0C6.259,0,0,6.261,0,13.983c0,7.721,6.259,13.982,13.98,13.982c7.725,0,13.985-6.262,13.985-13.982
               C27.965,6.261,21.705,0,13.98,0z M19.992,17.769l-2.227,2.224c0,0-3.523-3.78-3.786-3.78c-0.259,0-3.783,3.78-3.783,3.78
               l-2.228-2.224c0,0,3.784-3.472,3.784-3.781c0-0.314-3.784-3.787-3.784-3.787l2.228-2.229c0,0,3.553,3.782,3.783,3.782
               c0.232,0,3.786-3.782,3.786-3.782l2.227,2.229c0,0-3.785,3.523-3.785,3.787C16.207,14.239,19.992,17.769,19.992,17.769z" />
                </g>
                <g id="Capa_1_104_">
                </g>
            </g>

        </svg>
    </div>

    {% element 'snippets/login-mobile' %}
    {% element 'snippets/contact-mobile' %}

    <h5>{{ Translation('categorias') }}</h5>
    <ul class="menu-mobile-flex__categories">
        {% for level1 in categories %}
        {% if loop.index <= limit or not limit %}
        <li class="menu-mobile-flex__categories--level1">
            {% if level1.children %}
            <label class="menu-mobile-flex__categories--level1__item-level1" for="mobile-item-{{ level1.id }}"
                data-tray-tst="categoria_lvl_1">
                <div class="menu-mobile-flex__categories--level1__item-level1--itens">
                    <a href="{{ level1.link }}" class="link-level1" data-tray-tst="categoria_lvl_1">

                        <img class="menu-mobile-flex__categories--level1__item-level1--categorie-header-mobile"
                            src="{{ level1.images[0] }}">
                </div>
                <div class="menu-mobile-flex__categories--level1__item-level1--itens2">
                    {{ level1.name }}
                </div>
                </a>
                <div class="menu-mobile-flex__categories--level1__item-level1--itens3">
                    <i class="menu-mobile-flex__categories--level1__item-level1--arrow-menu-mobile">
                        <svg class="svgArrowClickMenuMobile" version="1.1" id="mamd-mamd-mamd=>{{ level1.id }}"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;"
                            xml:space="preserve">
                            <g>
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                                           c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                                           c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                                           c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
                                </g>
                            </g>
                        </svg>

                    </i>
                </div>
            </label>
            {% else %}
            
            
            <label class="menu-mobile-flex__categories--level1__item-level1" for="mobile-item-{{ level1.id }}"
            data-tray-tst="categoria_lvl_1">
            <div class="menu-mobile-flex__categories--level1__item-level1--itens">
                <a href="{{ level1.link }}" class="link-level1" data-tray-tst="categoria_lvl_1">

                    <img class="menu-mobile-flex__categories--level1__item-level1--categorie-header-mobile"
                        src="{{ level1.images[0] }}">
            </div>
            <div class="menu-mobile-flex__categories--level1__item-level1--itens2">
                {{ level1.name }}
            </div>
            </a>
            <div class="menu-mobile-flex__categories--level1__item-level1--itens3">
               
            </div>


        </label>
            {% endif %}

            {% if level1.children %}
            <div id="{{ level1.id }}-level2" class="menu-mobile-flex__categories--level2">
                <ul>
                    {% for level2 in level1.children %}
                    <li class="menu-mobile-flex__categories--level2__item-level2">
                        <a href="{{ level2.link }}" class="link-level2"
                            data-tray-tst="categoria_lvl_2">{{ level2.name }}</a>
                        {% if level2.children %}
                        <div class="menu-mobile-flex__categories--level3">
                            <ul>
                                {% for level3 in level2.children %}
                                <li class="menu-mobile-flex__categories--level3__item-level3">
                                    <a href="{{ level3.link }}" class="link-level3"
                                        data-tray-tst="categoria_lvl_3">{{ level3.name }}</a>
                                    {% if level3.children %}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>