<section class="ordenate">
        <form class="ordenate__form" data-form="filter">
            <input name="loja" type="hidden" value="{{ store.id }}">
            {% if search.word %}
                <input name="palavra_busca" type="hidden" value="{{ search.word }}">
            {% endif %}
    
            {% if search.order_options %}
                <article class="ordenate__item ordenate__item--sort-by">
                    <label  class="ordenate__label ordenate__label--sort-by" for="select_ordem">
                        {{ Translation('ordem') }}&nbsp;                
    
                        <select name="order" id="select_ordem" class="ordenate__select">
                            {% for option in search.order_options %}
                                {% set selected = option.selected ? 'selected="selected"' : '' %}
                                <option value="{{ option.value }}" {{ selected }}>{{ option.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
    
                </article>
            {% endif %}
    
            {% if category.children %}
                <article class="ordenate__item  ordenate__item--categories">
    
                    <label  class="ordenate__label ordenate__label--categories" for="select_categoria">Subcategorias
                        <select id="select_categoria" class="ordenate__select" name="categoria" >
                            <option value="{{ category.id }}" selected="selected">{{ Translation('escolha') }}</option>
                            {% for category in category.children %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </article>
    
            {% else %}
    
                <input type="hidden" name="categoria" value="{{ category.id }}">
    
            {% endif %}
    
            {% if search.available_options %}
                <article class="ordenate__item">
                    <label  class="ordenate__label ordenate__label--available" for="select_available">Disponibilidade
                        <select id="select_available" class="ordenate__select" name="available" >
                            <option value="1" selected>Escolha</option>
                            {% for item in search.available_options %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </article>
            {% endif %}
    
            {% if search.brands %}
                <article class="ordenate__item">
                    <label  class="ordenate__label ordenate__label--brands" for="select_brands">Marcas
                        <select id="select_brands" class="ordenate__select" name="brands" >
                            <option value="1" selected>Escolha</option>
                            {% for item in search.brands %}
                                <option value="{{ item.name|split(' ')|join('_')|lower }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </article>
            {% endif %}
    
    
    </section>
    
    
    {#
        
    {% set cat = Categories({ id: category.id }) %}
    
    <section class="ordenate">
        <form class="ordenate__form" data-form="filter">
            <input name="loja" type="hidden" value="{{ store.id }}">
            {% if search.word %}
                <input name="palavra_busca" type="hidden" value="{{ search.word }}">
            {% endif %}
    
    
    
            {% if cat.children %}
                <article class="ordenate__item  ordenate__item--categories">
                    <label  class="ordenate__label ordenate__label--categories" for="select_categoria">Subcategorias</label>
                    <select id="select_categoria" class="ordenate__select" name="categoria" >
                        <option value="1" selected>Escolha</option>
                        {% for item in cat.children %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </article>
            {% endif %}
    
            {% if search.available_options %}
                <article class="ordenate__item">
                    <label  class="ordenate__label ordenate__label--available" for="select_available">Disponibilidade</label>
                    <select id="select_available" class="ordenate__select" name="available" >
                        <option value="1" selected>Escolha</option>
                        {% for item in search.available_options %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </article>
            {% endif %}
    
            {% if search.brands %}
                <article class="ordenate__item">
                    <label  class="ordenate__label ordenate__label--brands" for="select_brands">Marcas</label>
                    <select id="select_brands" class="ordenate__select" name="brands" >
                        <option value="1" selected>Escolha</option>
                        {% for item in search.brands %}
                            <option value="{{ item.name|split(' ')|join('_')|lower }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </article>
            {% endif %}
        </form>
    </section>
    #}