.bonus_produto {

    border: none !important; 
    padding: 10px 0px !important;
    height: 35px;
    @include max-screen( $screen-md ) {
        text-align: center;
    }
    .code{
    background-image: inherit;
    border-radius: 4px;
    font-family: inherit;
    margin: 0px 4px;
    }

    .color{
    
    background-image: inherit;
    border-radius: 4px;
    padding: 10px;
    text-transform: uppercase;
    }

}
