.modal-dialog.modal-dialog-center{

    @include max-screen( $screen-ss ) {
        top: 5%!important;
        left: 5%!important;
        right: 5%!important;
        bottom: 5%!important;
        margin: 0!important;
        width: 90%!important;
        height: 90%!important;
        overflow: auto; 
    }

}

