.ranking {
    &__star2{
        
    border: none;
    margin: 4px 0px;
    height: 20px !important;  

        svg{
            width: 20px;
        }

        @include max-screen( $screen-md ) {
          text-align: center;
        }
    }
    
}

