.lista_cor_variacao2{
    .varTit.onVar{
        background-color: aliceblue;
        border-radius: 4px;
        color: #000;
        padding: 0px;
    }
        
    select#second_dropdown{
        margin: 4px 0px;
        width: 30%;
        height: 35px;
        background-color: aliceblue;
        color: #000;
    }
    
}

.lista_cor_variacao li div, .lista_cor_variacao2 li div {
        border-radius: 4px;
        border: none;
        background-color: rgb(62, 164, 231);
        color: #ffffff;
        font-weight: 700;
}

#menuVars{
    .varTit.onVar.color-tone-1{
        background-color: #f0f8ff;
        background-image: none;
        border-radius: 4px;
        color: #000;
        padding: 0px;
    }

    .varCont {
        padding: 5px 0px;
        border-left: none;

        ul li {
            border: none;
            background: rgb(212, 37, 37);
            padding: 3px 0px;
            color: #f0f8ff;
            border-radius: 4px;
            
        }
       
    }
}


.texto_variacao {
    padding: 0px;
    h2{
        color: rgb(71, 179, 57);
        @include max-screen( $screen-md ) {
            width: 100%;
            text-align: center;
            color: rgb(112, 67, 67);
        }
    }
}
.lista_cor_variacao, .lista_cor_variacao2 {
   padding: 0px;
        @include max-screen( $screen-md ) {
            text-align: center;
        }
}
.lista_cor_variacao {
    li{
        img{
            border-radius: 6px;
        }

    } 
}
