<link rel="stylesheet" href="{{ asset('css/thememamdnocritical.min.css') }}" type="text/css">

   {% if products|length > 0 %}
        {% if search.word %}
            <div class="page-search__header">
                    <p class="page-search__title">Exibindo resultados para: <b>{{ search.word }}</b>
           
            <div class="page-search__flex-container">
                <div class="page-search__flex-container--itensFilter">                    
                    <a href="#mamdbtnmobilefiltersSearch" class="filter__btn-click-search" id="btn-filter-mobile-search">Filtro</a>
                        
                        <div class="page-search__filter-desktop">                    
                            {% element 'snippets/new-filter' %}
                        </div>

                        <div class="page-search__filter-mobile" id="filter-mobile-search">                    
                            {% element 'snippets/new-filter-mobile' %}
                        </div>
                   

                </div>
    
                <div class="page-search__flex-container--itensProduct">
                        {% if products|length > 0 %}
                        <li class="page-search__item--showcase">
                            {% element 'showcase-search' {
                                "products": products
                            } %}
                        </li>
                    {% endif %}

                </div>

            </div>


    {% if products|length > 0 %}
        <div class="page-search__paginate page-search__paginate--footer">
            <div class="page-search__text--paginate">
                {{ paginate.counter('Mostrando <span class="page-search__text">{:count}</span> Produtos em <span class="page-search__text">{:pages}</span> p&aacute;ginas') }}
            </div>

                {% element 'snippets/pagination' %}
        </div>
    {% endif %}

</div>
{% endif %}
{% endif %}

